---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/me-whitney.jpeg";
---

<Layout pageTitle="Nicklas Rouvinen">
    <div class="flex flex-col items-center">
        <div class="mask mask-circle w-[300px]">
            <Image
                src={profilePicture}
                alt="Profile Picture"
                class="w-full h-auto"
            />
        </div>
        <h1 class="text-5xl font-bold pb-6">Nicklas Rouvinen</h1>
        <p class="p-2">Senior Software Engineer at Guidewire Software.</p>
        <div class="divider"></div>
        <a href="/work" class="p-2">
            <button class="btn btn-block btn-ghost"
                >See My Work Experience</button
            >
        </a>
        <a href="/personal" class="p-2">
            <button class="btn btn-block btn-ghost"
                >See Some Of My Photos</button
            >
        </a>
    </div>
</Layout>
