---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/profile-picture.jpeg";
---

<Layout pageTitle="Nicklas Rouvinen">
    <div class="flex flex-col gap-4">
        <Image
            src={profilePicture}
            alt="Profile Picture"
            class="mask mask-circle h-64 w-64 self-center"
        />
        <p class="font-light pt-6">
            I'm currently a senior software engineer at <a
                target="_blank"
                href="https://www.guidewire.com/"
                class="border-b border-green-500 text-green-500"
                >Guidewire Software</a
            > working remotely out of San Diego, CA.
        </p>
        <p class="font-light">
            I graduated from the University of Minnesota, Twin Cities in 2020
            with a B.S. in Mathematics and Computer Science. I began my career
            at Guidewire Software after graduation and have been working here
            ever since.
        </p>
        <p class="font-light">
            On the side I enjoy messing around with different tech stacks.
            Currently I have been working on <a
                target="_blank"
                href="https://climetimereviews.com/"
                class="border-b border-green-500 text-green-500"
                >Clime Time Reviews</a
            >, a Next.js web app for writing and sharing reviews of places
            (think Twitter, Yelp, and Google Maps combined). You can see some of
            my other work and projects in the <a
                href="/work"
                class="border-b border-green-500 text-green-500">work</a
            > section.
        </p>
        <p class="font-light">
            I also like to surf, ski, hike, travel, etc... as much as I can. I
            frequently share pictures of my adventures in the <a
                href="/personal"
                class="border-b border-green-500 text-green-500">photos</a
            > section.
        </p>
    </div>
</Layout>
