---
import Layout from "../layouts/Layout.astro";
import peruPicture from "../assets/2024/peru-alpine-lake.jpeg";
import bigSurPicture from "../assets/2024/big-sur.jpeg";
import sanJacintoPicture from "../assets/2024/san-jacinto.jpeg";
import spaceXPicture from "../assets/2024/space-x.jpeg";
import steamboatPicture from "../assets/2024/steamboat.jpeg";
import cowPicture from "../assets/2025/cow.jpeg";
import rockPicture from "../assets/2025/rock.jpeg";
import mdoPicture from "../assets/2025/mdo.jpeg";
import ImageCard from "../components/ImageCard.astro";

const images = [
    {
        title: "Humantay Glacier Lake",
        imageSrc: peruPicture.src,
        imageAlt: "Humantay Glacier Lake",
        description:
            "Humantay Glacier Lake in the Cusco region of Peru seen during the Salkantay Trek.",
        stats: [
            { label: "Location", value: "Peru" },
            { label: "Region", value: "Cusco" },
        ],
        imageOnLeft: true,
    },
    {
        title: "Big Sur",
        imageSrc: bigSurPicture.src,
        imageAlt: "Big Sur",
        description:
            "Coastline view of Big Sur, California on a backpacking trip.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "Big Sur" },
        ],
        imageOnLeft: false,
    },
    {
        title: "Mount San Jacinto",
        imageSrc: sanJacintoPicture.src,
        imageAlt: "View from Mount San Jacinto",
        description: "View from the peak of Mount San Jacinto.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "San Jacinto" },
        ],
        imageOnLeft: true,
    },
    {
        title: "SpaceX Launch",
        imageSrc: spaceXPicture.src,
        imageAlt: "SpaceX rocket launch",
        description:
            "SpaceX rocket launch from Law St in Pacific Beach, San Diego.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "San Diego" },
        ],
        imageOnLeft: false,
    },
    {
        title: "Steamboat Springs",
        imageSrc: steamboatPicture.src,
        imageAlt: "Steamboat Springs",
        description: "Steamboat Springs, Colorado during a ski trip.",
        stats: [
            { label: "Location", value: "Colorado" },
            { label: "Region", value: "Steamboat" },
        ],
        imageOnLeft: true,
    },
    {
        title: "Cow",
        imageSrc: cowPicture.src,
        imageAlt: "Cow",
        description: "A cow I saw at vineyard in Paso Robles, California.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "Paso Robles" },
        ],
        imageOnLeft: false,
    },
    {
        title: "Morro Rock",
        imageSrc: rockPicture.src,
        imageAlt: "Morro Rock",
        description:
            "Morro Rock. Surfed right next to this in Morro Bay, California.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "Morro Bay" },
        ],
        imageOnLeft: true,
    },
    {
        title: "Montaña de Oro",
        imageSrc: mdoPicture.src,
        imageAlt: "Montaña de Oro",
        description: "View of the ocean from the san dunes in Montaña de Oro.",
        stats: [
            { label: "Location", value: "California" },
            { label: "Region", value: "Los Osos" },
        ],
        imageOnLeft: false,
    },
];
---

<Layout pageTitle="Personal">
    <div class="container mx-auto max-w-screen-xl px-4">
        <div class="flex flex-col items-start pt-12">
            <h1 class="text-4xl font-bold pt-6">Photos</h1>
        </div>
        <div class="flex flex-col items-start">
            <div class="w-full mx-auto pt-6">
                <div class="space-y-6">
                    {images.map((image) => <ImageCard {...image} />)}
                </div>
            </div>
        </div>
    </div>
</Layout>
