---
const companies: Company[] = [
    {
        name: "Guidewire Software",
        logo: "/src/assets/logo/guidewire-logo.jpeg",
        roles: [
            {
                title: "Senior Software Engineer",
                duration: "Oct 2024 - Present",
                location: "San Mateo, CA (Remote)",
                description: [], // TODO: Add description
            },
            {
                title: "Software Engineer III",
                duration: "Oct 2021 - Oct 2024",
                location: "San Mateo, CA (Remote)",
                description: [], // TODO: Add description
            },
            {
                title: "Software Engineer II",
                duration: "May 2020 - Oct 2021",
                location: "San Mateo, CA (Remote)",
                description: [], // TODO: Add description
            },
        ],
    },
    {
        name: "Thrivent",
        logo: "/src/assets/logo/thrivent-logo.jpeg",
        roles: [
            {
                title: "Software Engineer Intern, Investments",
                duration: "Jun 2019 - Aug 2019",
                location: "Minneapolis, MN)",
                description: [], // TODO: Add description
            },
        ],
    },
];

const schools: Company[] = [
    {
        name: "University of Minnesota - Twin Cities",
        logo: "/src/assets/logo/u-of-mn-logo.jpeg",
        roles: [
            {
                title: "Bachelor of Science - BS, Mathematics - Computer Applications",
                duration: "2016 - 2020",
                location: "Minneapolis, MN",
                description: [], // TODO: Add description
            },
        ],
    },
];
import CompanyCard, { type Company } from "../components/CompanyCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Work">
    <div class="container mx-auto max-w-screen-xl px-4">
        <div class="flex flex-col items-start pt-12">
            <h1 class="text-4xl font-bold pt-6">Work Experience</h1>
        </div>
        <div class="flex flex-col items-start">
            <div class="w-full mx-auto pt-6">
                <div class="space-y-6">
                    {
                        companies.map((company) => (
                            <CompanyCard company={company} />
                        ))
                    }
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start pt-12">
            <h1 class="text-4xl font-bold pt-6">Education</h1>
        </div>
        <div class="flex flex-col items-start">
            <div class="w-full mx-auto pt-6">
                <div class="space-y-6">
                    {schools.map((school) => <CompanyCard company={school} />)}
                </div>
            </div>
        </div>
    </div></Layout
>
