---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Nicklas Rouvinen" heroHeader="Work Experience">
    <p class="pt-6 pb-6">
        I'm currently working a senior software engineer at Guidewire Software.
    </p>

    <Timeline />
</Layout>
