---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Work">
    <h1 class="text-5xl font-bold p-6">Work Experience</h1>
    <div class="divider divider-neutral"></div>

    <p class="text-left pt-6 font-bold">Where am I right now?</p>
    <p class="text-left">
        I'm currently working as a senior software engineer at Guidewire
        Software. I've been here for ~ 5 years now.
    </p>
    <br />
    <p class="text-left font-bold">A little background?</p>
    <p class="text-left">
        I Graduated from the University of Minnesota - Twin Cities in 2020 with
        a B.S in Mathematics (with a focus on Computer Applications) and a Minor
        in Computer Science. Immediately after graduating I started working at
        Guidewire Software and have progressed from Software Engineer II up to
        Senior Software Engineer.
    </p>
    <br />
    <p class="text-left font-bold">Timeline of my work experience?</p>
    <br />

    <Timeline />
</Layout>
