<footer
    class="footer bg-base-100 text-base-content items-center p-4 justify-center"
>
    <aside class="grid-flow-col items-center">
        <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
    </aside>
</footer>
