---

---

<div class="hero bg-base-100 mt-24 mb-24">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Nicklas Rouvinen</h1>
            <p class="py-6">
                I'm a software engineer and like sharing pictures.
            </p>
            <!-- <div class="flex flex-col space-y-4">
                <button class="btn btn-ghost inline-block"
                    >My Work Experience</button
                >
                <button class="btn btn-ghost inline-block"
                    >My Personal Life</button
                >
            </div> -->
        </div>
    </div>
</div>
