---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body
        class="container mx-auto max-w-md md:max-w-3xl min-h-screen flex flex-col p-4"
    >
        <Header />
        <main class="flex-grow">
            <slot />
        </main>
    </body>
</html>

<Footer />
