---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageTitle, heroHeader } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<script>
			import "../scripts/theme-switcher.js";
		</script>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<div class="max-w-4xl mx-auto px-4 flex-grow">
			<main>
				<div class="hero bg-base-100 mt-12 mb-12">
					<div class="hero-content text-center">
						<div class="max-w-md">
							<h1 class="text-5xl font-bold pb-6">
								{heroHeader}
							</h1>
							<slot />
						</div>
					</div>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>
